@model IEnumerable<WebApplication1.Models.QuestionModel>

@{
    ViewBag.Title = "Index";
}

<h2>ListOfQuestions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            <!-- remove */1 and conect it with DB question id-->
            @Html.ActionLink("Edit", "Edit/1", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details/1", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete/1", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
